[submodule "script/Sample"]
	path = script/Sample
	url = ../../krkrz/SampleScript.git
[submodule "script/Krkr2Compat"]
	path = script/Krkr2Compat
	url = ../../krkrz/Krkr2Compat.git
[submodule "script/test"]
	path = script/test
	url = ../../krkrz/test_scripts.git
[submodule "script/KAG3_Ham"]
	path = script/KAG3_Ham
	url = ../../krkrz/kag3_ham.git
[submodule "script/KAG3"]
	path = script/KAG3
	url = ../../krkrz/kag3.git
[submodule "bin"]
	path = bin
	url = ../../krkrz/release_binary.git
[submodule "document/kirikiriz"]
	path = document/kirikiriz
	url = ../../krkrz/krkrz-documents.git
[submodule "document/misc_markdown"]
	path = document/misc_markdown
	url = ../../krkrz/documents.git
[submodule "src/tools/dotNet/tjs2doc"]
	path = src/tools/dotNet/tjs2doc
	url = ../../krkrz/tjs2doc.git
[submodule "src/tools/win32/debugger"]
	path = src/tools/win32/debugger
	url = ../../krkrz/debugger.git
[submodule "src/core"]
	path = src/core
	url = ../krkrz.git
[submodule "src/plugins/win32/KAGParserEx"]
	path = src/plugins/win32/KAGParserEx
	url = ../../wamsoft/KAGParserEx.git
[submodule "src/plugins/win32/addFont"]
	path = src/plugins/win32/addFont
	url = ../../wamsoft/addFont.git
[submodule "src/plugins/win32/binaryStream"]
	path = src/plugins/win32/binaryStream
	url = ../../wamsoft/binaryStream.git
[submodule "src/plugins/win32/csvParser"]
	path = src/plugins/win32/csvParser
	url = ../../wamsoft/csvParser.git
[submodule "src/plugins/win32/fpslimit"]
	path = src/plugins/win32/fpslimit
	url = ../../wamsoft/fpslimit.git
[submodule "src/plugins/win32/fstat"]
	path = src/plugins/win32/fstat
	url = ../../wamsoft/fstat.git
[submodule "src/plugins/win32/getSample"]
	path = src/plugins/win32/getSample
	url = ../../wamsoft/getSample.git
[submodule "src/plugins/win32/httprequest"]
	path = src/plugins/win32/httprequest
	url = ../../wamsoft/httprequest.git
[submodule "src/plugins/win32/httpserv"]
	path = src/plugins/win32/httpserv
	url = ../../wamsoft/httpserv.git
[submodule "src/plugins/win32/json"]
	path = src/plugins/win32/json
	url = ../../wamsoft/json.git
[submodule "src/plugins/win32/layerEx"]
	path = src/plugins/win32/layerEx
	url = ../../wamsoft/layerEx.git
[submodule "src/plugins/win32/layerExAreaAverage"]
	path = src/plugins/win32/layerExAreaAverage
	url = ../../wamsoft/layerExAreaAverage.git
[submodule "src/plugins/win32/layerExBTOA"]
	path = src/plugins/win32/layerExBTOA
	url = ../../wamsoft/layerExBTOA.git
[submodule "src/plugins/win32/layerExDraw"]
	path = src/plugins/win32/layerExDraw
	url = ../../wamsoft/layerExDraw.git
[submodule "src/plugins/win32/layerExImage"]
	path = src/plugins/win32/layerExImage
	url = ../../wamsoft/layerExImage.git
[submodule "src/plugins/win32/layerExLongExposure"]
	path = src/plugins/win32/layerExLongExposure
	url = ../../wamsoft/layerExLongExposure.git
[submodule "src/plugins/win32/layerExRaster"]
	path = src/plugins/win32/layerExRaster
	url = ../../wamsoft/layerExRaster.git
[submodule "src/plugins/win32/layerExSave"]
	path = src/plugins/win32/layerExSave
	url = ../../wamsoft/layerExSave.git
[submodule "src/plugins/win32/lineParser"]
	path = src/plugins/win32/lineParser
	url = ../../wamsoft/lineParser.git
[submodule "src/plugins/win32/memfile"]
	path = src/plugins/win32/memfile
	url = ../../wamsoft/memfile.git
[submodule "src/plugins/win32/messenger"]
	path = src/plugins/win32/messenger
	url = ../../wamsoft/messenger.git
[submodule "src/plugins/win32/minizip"]
	path = src/plugins/win32/minizip
	url = ../../wamsoft/minizip.git
[submodule "src/plugins/win32/msgreceiver"]
	path = src/plugins/win32/msgreceiver
	url = ../../wamsoft/msgreceiver.git
[submodule "src/plugins/win32/ncbind"]
	path = src/plugins/win32/ncbind
	url = ../../wamsoft/ncbind.git
[submodule "src/plugins/win32/process"]
	path = src/plugins/win32/process
	url = ../../wamsoft/process.git
[submodule "src/plugins/win32/psdfile"]
	path = src/plugins/win32/psdfile
	url = ../../wamsoft/psdfile.git
[submodule "src/plugins/win32/resourceRW"]
	path = src/plugins/win32/resourceRW
	url = ../../wamsoft/resourceRW.git
[submodule "src/plugins/win32/saveStruct"]
	path = src/plugins/win32/saveStruct
	url = ../../wamsoft/saveStruct.git
[submodule "src/plugins/win32/scriptsEx"]
	path = src/plugins/win32/scriptsEx
	url = ../../wamsoft/scriptsEx.git
[submodule "src/plugins/win32/shellExecute"]
	path = src/plugins/win32/shellExecute
	url = ../../wamsoft/shellExecute.git
[submodule "src/plugins/win32/shrinkCopy"]
	path = src/plugins/win32/shrinkCopy
	url = ../../wamsoft/shrinkCopy.git
[submodule "src/plugins/win32/sigcheck"]
	path = src/plugins/win32/sigcheck
	url = ../../wamsoft/sigcheck.git
[submodule "src/plugins/win32/stdio"]
	path = src/plugins/win32/stdio
	url = ../../wamsoft/stdio.git
[submodule "src/plugins/win32/steam"]
	path = src/plugins/win32/steam
	url = ../../wamsoft/steam.git
[submodule "src/plugins/win32/systemEx"]
	path = src/plugins/win32/systemEx
	url = ../../wamsoft/systemEx.git
[submodule "src/plugins/win32/tftSave"]
	path = src/plugins/win32/tftSave
	url = ../../wamsoft/tftSave.git
[submodule "src/plugins/win32/varfile"]
	path = src/plugins/win32/varfile
	url = ../../wamsoft/varfile.git
[submodule "src/plugins/win32/win32dialog"]
	path = src/plugins/win32/win32dialog
	url = ../../wamsoft/win32dialog.git
[submodule "src/plugins/win32/win32ole"]
	path = src/plugins/win32/win32ole
	url = ../../wamsoft/win32ole.git
[submodule "src/plugins/win32/windowEx"]
	path = src/plugins/win32/windowEx
	url = ../../wamsoft/windowEx.git
[submodule "src/plugins/win32/windowExProgress"]
	path = src/plugins/win32/windowExProgress
	url = ../../wamsoft/windowExProgress.git
[submodule "src/plugins/win32/tp_stub"]
	path = src/plugins/win32/tp_stub
	url = ../../wamsoft/tp_stub.git
[submodule "src/plugins/win32/menu"]
	path = src/plugins/win32/menu
	url = ../../wamsoft/menu.git
